/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.venv
.venv/
.venv/*
/.venv/
/.venv/*

.python-version

main.py
remove_backups.py
search_and_rescue.py
setup.sh